body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.page-container {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width:100%; /*calc(100% - 16px); Subtract padding and border width */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 15%;
    margin: 10px auto;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#resultsContainer {
    margin-top: 20px;
}
.container{
    max-width: 70%;
    margin: 15% auto;
    background: #f0f0f0;
    border-color: transparent;
    border-radius: 15px;
    padding: 15px;
}
/* Add these styles to your existing CSS */

.seller-box {
    border: 2px solid #333;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.entry-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

/* Add these styles for improved appearance in the bill window */
#billWindow .horizontal {
    display: inline-block;
    margin-right: 20px;
}
/* Add these styles for improved appearance in the bill window */
#billWindow .table-entry {
    margin-bottom: 20px;
}

#billWindow table {
    width: 100%;
    border-collapse: collapse;
}

#billWindow th, #billWindow td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#billWindow th {
    background-color: #f2f2f2;
}
td{
    width: 162px;
}